.commentForm {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.commentInput {
    border: none;
    padding: 10px 5px;
    flex: 1;
}

.commentSubmit {
    border: none;
    background-color: white;
    color: #0095f6;
    margin-left: 5px;
}